

.mf-switch{
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 12px;

    .mf-switch-input{
        position: absolute;
        width: 0;
        height: 0;
        margin: 0;
        opacity: 0;
        z-index: 1;
    }

    &.is-checked{ 
        .mf-switch-core-action{
            transform: translateX(20px);
            transition: all var(--mf-transition-duration);
        }
        .mf-switch-core-inner{
            transition: all var(--mf-transition-duration);
            background-color: var(--mf-color-danger-light-3);

        }
    }
}

.mf-switch-core{
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;

    .mf-switch-core-inner{
        display: inline-flex;
        align-items: center;
        position: relative;
        width: 44px;
        height: 24px;
        border-radius: 10px;
        background-color: var(--mf-color-primary);
        transition: all var(--mf-transition-duration);
       

    }
    .mf-switch-core-action{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--mf-color-white);
        margin: 0 2px;
        transition: all var(--mf-transition-duration);


    }
}